{
  "database":{
    "url": "mongodb://localhost:27017",
    "name": "event-micro",
    "poolMin": 12,
    "poolMax": 10,
    "timeout": 12
  },
  "server":{
    "port": "5050"
  },
  "app": {
    "name": "Event Microservice",
    "description": "Ticket Event Microservice",
    "host": "localhost:5050",
    "base_url": "/api/v1",
    "version": "0.0.1"
  }
}